<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.123" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.21.8" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.8.26" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.16" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.16" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.7" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.31" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="SqlKata" version="3.0.0-beta" targetFramework="net472" />
  <package id="SqlKata.Execution" version="3.0.0-beta" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net472" />
</packages>